@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    GitHub: https://github.com/TomiInacap/Evaluacion2MateusTomas <br />
    Correo: tomas.traub@inacapmail.cl<br />
    <abbr title="Celular">C:</abbr>
    +569 74185963
</address>

<address>
    <strong>Prueba N°2:</strong>   <a href="https://github.com/TomiInacap/Evaluacion2MateusTomas">Git Hub Eva 2</a><br />
    <strong>Corregir PLS !!:</strong> <a href="https://github.com/TomiInacap/Evaluacion2MateusTomas">Suba las Notas porfavor.</a>
</address>