@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>JumboTron???</h2>
</div>

<div class="row">   <!--inicio de Row 1-->
    <div class="col-md-4">
        <h2>COL 1</h2>
    </div>

    <div class="col-md-4">
        <h2>COL 2</h2>
    </div>

    <div class="col-md-4">
        <h2>COL 3</h2>
    </div>


</div> <!--fin de Row 1-->